.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 25%;
    height: 30vh;
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #3498db;
    border: 5px solid #121212;
    box-shadow: 10px -10px 0 -3px #000, 10px -10px #1fc11b, 20px -20px 0 -3px #000,
    20px -20px#ffd913, 30px -30px 0 -3px #000, 30px -30px #ff9c55,
    40px -40px 0 -3px #000, 40px -40px #ff5555;
  transition: box-shadow 1s, top 1s, left 1s;

}
.container:hover{
    box-shadow: 0 0 0 -3px #000, 0 0 0 0 #1fc11b, 0 0 0 -3px #000, 0 0 0 0 #ffd913,
    0 0 0 -3px #000, 0 0 0 0 #ff9c55, 0 0 0 -3px #000, 0 0 0 0 #ff5555;
}