.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    margin: 10px;
    font-size: 24px;
    }
    .toAdd{
       background-color:  #121212;
       color: #fff;
       font-size: 24px;
       font-weight: bold;
       margin: 5px;
    }
    .remove{
        background-color: #fff ;
        color: #121212;
        font-size: 24px;
        font-weight: bold;
        margin: 5px;
     }